<!DOCTYPE html>
<html>
	<head>
		<title>BayarKontrakan</title>
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css" />
		<script src="/assets/js/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/bootstrap-datepicker.min.js"></script>
	</head>
	<body>
		{% include 'navigation.html' %}
		<div class= "container">
		   {% block content %}{% endblock %}
		</div>
	</body>
	<script type="text/javascript">
		$('.datepicker').datepicker();
	</script>
</html>